{% extends 'test_task_korteks_app/base.html' %}

{% block title %}

{% endblock %}

{% block content %}

<button>
    <a href="{% url 'test_task_korteks_app:job_titles_list' %}">Назад</a>
</button>

    <br>

    {{ job_title.name }}

    <br>

    <button>
        <a href="{% url 'test_task_korteks_app:job_title_change' job_title.id %}">Изменить</a>
    </button>

    <br>

    <form method="post" action="{% url 'test_task_korteks_app:job_title_delete' job_title.id %}">
        {% csrf_token %}
    <button type="submit">Удалить</button>
    </form>

{% endblock %}