{% extends 'test_task_korteks_app/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
    <button>
        <a href="{% url 'test_task_korteks_app:job_title_detail' job_title.id %}">Назад</a>
    </button>
    <br>
    Текущее название: {{ job_title.name }}
    <form method="post">
        {% csrf_token %}

        Изменение названия <input type="text" name="new_job_title_name" required>
        <input type="submit" value="Изменить">
    </form>

    {% if message %}
        {{ message }}
    {% endif %}
    {% if alert %}
        Название: {{ alert.message_dict.name|first }}
        <br>
    {% endif %}

{% endblock %}